/* Global styles */
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Header styles */
.headContainer {
    display:flex;
    justify-content: space-between;
}

/* Main Styles */
.homeBanner {
    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    align-items:center;
}

.questionBtn {
    margin: 1vw;
    background-color: rgb(4, 10, 97) ;
    color: white;
    border-radius: 7px;
}

.start-btn {
    background-color: rgb(4, 10, 97) ;
    color: white;
    border-radius: 7px;
}